@model IEnumerable<OnlineShoppingStoreMVCUsingLinq.Product>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div  style="font-weight:bold;font-size:18px;margin:0px 0px 0px 15px">@ViewBag.subCategoryName</div>
<div class="container">
    @foreach (var items in Model)
    {
        <div class="col-sm-3 img-responsive">
        <a href=@Url.Action("GetProductImages", "Catelog", new {productId=@items.PKProductId })><center><img src="@items.ImagePath" alt="Loading.." style="max-height:150px" /><br/> @items.ImageName.Split('.')[0].ToString()</center></a>
           
        </div>
    }
</div>
